body {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    background-color: #1c2d5a;
    overflow: scroll;
    margin: 0;
}

#home-container {
    position: fixed;
    width: 100%;
    z-index: 1;
}

header{
    background-color: white;
    padding-top: 10px;
}

#header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}

#league-logo {
   width: 80px;
   padding-right: 30px;
}

#standings, #top-scorers, #schedule {
    border: none;
    background: none;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 15px 0px 15px 0px;
    cursor: pointer;
}
#links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: #f9bc16;
    font-size: 15px;
    z-index: 0;
}
/* ////////////////////// */
.participant1-logo, .participant2-logo {
    width: 40px;
    height: 40px;
}

h2 {
    font-size: 25px;
    font-weight: 400;
}

h3 {
    font-size: 15px;
    font-weight: 600;
}
h4{
    font-size: 12px;
    font-weight: 400;
}

#all-schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 140px;
    width: 90%;
    background: white;
}

#schedule-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header-title {
    margin-bottom: -20px;
}

#schedule-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #f9bc16;
    width: 90%;
  
    font-family: "Red Hat Display", sans-serif;
}

.fixture-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    margin-top: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.participants-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: -10px;
}

.details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}




#strip1 {
    position: fixed;
    top: 0;
    right: 50px;
    width: 30vw;
    height: 120vh;
    background-color: #505e7e;
    transform: rotate(29deg);
    transform-origin: 0% 0;
    z-index: -1;
}

#strip2 {
    position: fixed;
    top: 0;
    right: 220px;
    width: 10vw;
    height: 120vh;
    background-color: #505e7e;
    transform: rotate(29deg);
    transform-origin: 0% 0;
    z-index: -1;
}