body {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    background-color: #1c2d5a;
    overflow: scroll;
    margin: 0;
}

#home-container {
    position: fixed;
    width: 100%;
    z-index: 1;
}

header{
    background-color: white;
    padding-top: 10px;
    
}

#header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}

#league-logo {
   width: 80px;
   padding-right: 30px;
}

#standings, #top-scorers, #schedule {
    border: none;
    background: none;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 15px 0px 15px 0px;
    cursor: pointer;
}
#links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: #f9bc16;
    font-size: 15px;
    z-index: 0;
}
/* ///////////////////// */

#team-details-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 140px;
    background-color: white;
    width: 90%;
    font-family: "Red Hat Display", sans-serif;
}

#individual-team-container {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin: 0 auto;
    font-size: 12px;
    /* background-color: red; */
}

#team-header-container {
    display: flex;
    flex-direction: column;
}
#logo-name-containter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -15px;
}
#team-logo {
    width: 60px;
    height: 60px;
    justify-content: flex-end;
    margin-right: 15px;
}
#stadium-location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 30px -20px 30px;
}
h2 {
    font-size: 30px;
    font-weight: 400;
}

h3 {
    font-weight: 400;
}
h4{
    font-size: 14px;
    font-weight: 400;
}

#roster {
    margin: 0px 0px -10px 35px;
    font-size: 18px;
    font-weight: 400;
}

.player-container {
    display:flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    margin-bottom: 10px;
  
}
.player-image {
    width: 50px;
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
}

.player-name{
    font-size: 18px;
    font-weight: 700;
    margin-left: 5px;
}

.jersey-number,
.position-name {
    font-size: 14px;
    margin: 0;
    font-weight: 400;
}

.player-name,
.jersey-number {
    flex-grow: 1;
}

.jersey-number {
    text-align: right;
    margin-right: 20px;
}

.position-name {
   margin-right: 20px;
}